.container_form {
  height: 100vh;
  background: linear-gradient(to right, #448855, #508ea3, #1e5b75);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_form #form {
  width: 100%;
  max-width: 450px;
  min-width: 270px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 12px;
  margin: 20px;
}
