
.productDetail__left {
     background-color: white;
}

.choose {
     display: flex;
     display: -webkit-flex;
     display: -ms-flexbox;
     flex-direction: row;
     flex-wrap: nowrap;
     padding-right: 20px;
     
}

ul li img {
     width: 100%;
     cursor: pointer;
  
}

.main__image {
     width: 100%;
     position: relative;

}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
.main__image img {
    max-width: 100%;
    width: 100%;
    cursor: zoom-in;
    animation: fade;
     animation-duration: 2s;
    
}

.prev {
     left: 15px;
     position: absolute;
     top: 50%;
     cursor: pointer;
}
.next {
     right: 15px;
     cursor: pointer;
     position: absolute;
     top: 50%;
}

.active {
     border: .5px solid rgb(219, 218, 218);
     
}

   
  
   
   /* Columns */ 
   /* Right Column */
   .right-column {
     margin: 60px 0;
   }
   
   /* Product Description */
   .product-description {
     border-bottom: 1px solid #E1E8EE;
     margin-bottom: 20px;
   }
   .product-description span {
     font-size: 12px;
     color: #358ED7;
     letter-spacing: 1px;
     text-transform: uppercase;
     text-decoration: none;
   }
   .product-description h1 {
     font-weight: 500;
     font-size: 28px;
     color: #3495f5;
     letter-spacing: 2px;
   }
   .product-description p {
     font-size: 16px;
     font-weight: 300;
     color: #86939E;
     line-height: 24px;
   }
   
   /* Product Configuration */
   .product-color span,
   .cable-config span {
     font-size: 14px;
     font-weight: 400;
     color: #86939E;
     margin-bottom: 20px;
     display: inline-block;
   }
   
   /* Product Color */
   .product-color {
     margin-bottom: 30px;
   }
   
   .color-choose div {
     display: inline-block;
   }
   
   .color-choose input[type="radio"] {
     display: none;
   }
   
   .color-choose input[type="radio"] + label span {
     display: inline-block;
     width: 40px;
     height: 40px;
     margin: -1px 4px 0 0;
     vertical-align: middle;
     cursor: pointer;
     border-radius: 50%;
   }
   
   .color-choose input[type="radio"] + label span {
     border: 2px solid #FFFFFF;
     box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
   }
   
   .color-choose input[type="radio"]#red + label span {
     background-color: #C91524;
   }
   .color-choose input[type="radio"]#blue + label span {
     background-color: #314780;
   }
   .color-choose input[type="radio"]#black + label span {
     background-color: #323232;
   }
   
   .color-choose input[type="radio"]:checked + label span {
     background-image: url(../Image/check-icn.svg);
     background-repeat: no-repeat;
     background-position: center;
   }
   
   /* Cable Configuration */
   .cable-choose {
     margin-bottom: 20px;
   }
  
  
   .cable-choose input[type="radio"]{
     display: none;
   }
   .cable-choose input[type="radio"] + label span {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
   
  }
  
  .cable-choose input[type="radio"] + label span {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
  
  .cable-choose input[type="radio"] + label span {
    background-color: #323232;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
 
  
  .cable-choose input[type="radio"]:checked + label span {
    background-color: #64af3d;
  }
   .cable-config {
     border-bottom: 1px solid #E1E8EE;
     margin-bottom: 20px;
   }
   
   .cable-config a {
     color: #358ED7;
     text-decoration: none;
     font-size: 12px;
     position: relative;
     margin: 10px 0;
     display: inline-block;
   }
   .cable-config a:before {
     content: "?";
     height: 15px;
     width: 15px;
     border-radius: 50%;
     border: 2px solid rgba(53, 142, 215, 0.5);
     display: inline-block;
     text-align: center;
     line-height: 16px;
     opacity: 0.5;
     margin-right: 5px;
   }
   
   /* Product Price */
   .product-price {
     display: flex;
     align-items: center;
   }
   
   .product-price span {
     font-size: 1.3rem;
     font-weight: bold;
     color: rgb(250, 87, 87);
     margin-right: 20px;
   }
   
   .cart-btn {
     display: inline-block;
     background-color: #7DC855;
     border-radius: 6px;
     font-size: 1rem;
     color: #FFFFFF;
     text-decoration: none;
     padding: 10px 15px;
     transition: all .5s;
     text-align: center;
     outline: none;
     border: none;
   }
   .cart-btn:hover {
     background-color: #64af3d;
   }
   
   /* Responsive */
   /* Tablet */
   @media screen and (min-width:600px) and (max-width: 1024px) {
    
  .cart-btn{
    font-size: 0.8rem;
  }
  .product-price span {
    font-size: 1.1rem;
  }
  .choose_left {
    display: none;
  }
  }
   
  /* Mobile */
   @media screen and (max-width: 700px) {
    
     .choose_left {
       display: none;
     }
    
    
    .choose{
      padding: 0;
    }

     .cable-choose button {
      padding: 0 10px;
     }

     .product-description h1 {
       font-size: 22px;
     }

     .product-description p {
      font-size: 12px;
    }

   

    .product-price a {
      display: block;
      margin-top: 30px;
      width: 100%;
    }
  }

  /* PC */
  @media screen and (max-width: 1200px) {
    
         
  }
   
