@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: var(--text-color);

}
@import url(reset.css);
@import url(all.min.css);
@import url(brands.min.css);
@import url(grid.css);


html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

.img-box img{
  aspect-ratio: 2/1;
  position: static !important;
}
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(192, 190, 189);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 248, 248);
  border-radius: 10px;
}


body {
  width: 100%;
  min-width: 280px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1efef;
  overflow-x: hidden;
}


header .top-header {
  width: 100%;
  padding: 10px;
  background-color: #1fb5d4;
}

header .top-header .top-header-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  color: #fff;
  position: relative;
  max-width: 1700px;
}



header .top-header .top-header-container .nav-menu {
  display: none;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 11;
  cursor: pointer;
}

header .top-header .top-header-container .nav-menu .icon-menu {
  display: block;
  width: 30px;
  margin-top: 15px;
  height: 5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #ddd9d9;
}

header .top-header .top-header-container .nav-menu .icon-menu::before {
  content: '';
  position: absolute;
  top: -9px;
  width: 30px;
  height: 5px;
  background-color: #ddd9d9;
}

header .top-header .top-header-container .nav-menu .icon-menu::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 30px;
  height: 5px;
  background-color: #ddd9d9;
}

header .top-header .top-header-container .header-logo {
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 0 15px;
  width: 20%;
}

header .top-header .top-header-container .search-bar {
  max-width: 40%;
  min-width: 30%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

header .top-header .top-header-container .search-bar input {
  width: 85%;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 14pt;
  color: #000;
}

header .top-header .top-header-container .search-bar button {
  width: 10%;
  height: 45px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  font-size: 25px;

}

header .top-header .top-header-container .search-bar button i {
  color: #000;
}

header .top-header .top-header-container .header-contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}




header .top-header .top-header-container .header-contact span {
  vertical-align: middle;
}

header .top-header .top-header-container .header-contact span:last-child {
  margin-left: 7px;
}


header .top-header .top-header-container .header-contact .header-hotline {
  display: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}


header .top-header .top-header-container .header-contact .header-cart .cart {
  position: relative;
  display: inline-block;
}

header .top-header .top-header-container .header-contact .header-cart .cart sup {
  position: absolute;
  top: -7px;
  right: -6px;
  padding: 10px 2px;
  background-color: red;
  border-radius: 50%;
  font-size: 14px;
  height: 19px;
  width: auto;
}



header .top-header .top-header-container .mobile-menu {
  
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
  top: 50px;
  left: 0;
}

header .top-header .top-header-container .mobile-menu::before {
  top: -20px;
  left: 25px;
  border: solid transparent 10px;
  border-bottom-color: #fff;
  content: " ";
  position: absolute;
  pointer-events: none;
  margin-left: -10px;
  z-index: 99;
}

header .top-header .top-header-container .mobile-menu .mobile-wrapper {
  padding: 10px;
}

header .top-header .top-header-container .mobile-menu .mobile-wrapper .menu-mobile-ul {
  list-style-type: none;
  padding: 0;
  vertical-align: middle;
}

header .top-header .top-header-container .mobile-menu .mobile-wrapper .menu-mobile-ul li {
  display: block;
  padding: 10px;
  margin: 5px;
  width: 100%;
  position: relative;

}

header .top-header .top-header-container .mobile-menu .mobile-wrapper .menu-mobile-ul li span i {
  color: #ec8b0c;
}

header .top-header .top-header-container .mobile-menu .mobile-wrapper .menu-mobile-ul li a {
  color: #000;
  display: inline;
}

header .top-header .top-header-container .mobile-menu .mobile-wrapper .menu-mobile-ul li a:hover {
  color: #1fb5d4;
}

header .top-header .top-header-container .mobile-menu .mobile-wrapper .menu-mobile-ul li .sub-mobile-menu {
  display: none;
  padding: 0;
  background-color: #fff;
}

header .search-bar-mobile {
  width: 100%;
  display: none;
  position: relative;
  padding: 5px;
}

header .search-bar-mobile .searchbar-wraper {
  background-color: #f0ecec;
}

header .search-bar-mobile .searchbar-wraper input {
  width: 90%;
  height: 45px;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: transparent;
  font-size: 14pt;
  color: #000;
}

header .search-bar-mobile .searchbar-wraper button {
  width: 10%;
  height: 45px;
  position: absolute;
  right: 0;
  border: none;
  background-color: transparent;
  font-size: 25px;
}

header .search-bar-mobile .searchbar-wraper button i {
  color: #000;
}


header .dropdown-menu {
  width: 100%;
  background-color: #fff;
}


header .dropdown-menu .menu-wrapper {
  max-width: 1700px;
  font-weight: 600;
  font-size: 1.2rem;
}

header .dropdown-menu .menu-wrapper .menu-ul {
  list-style-type: none;
  padding: 0 70px;
  margin: 0;
}

header .dropdown-menu .menu-wrapper .menu-ul li {
  display: inline-table;
  margin: 5px 10px;
  padding: 10px 15px;
  position: relative;
}

header .dropdown-menu .menu-wrapper .menu-ul li:hover>.sub-menu {
  display: block;
  background-color: #fff;
}

header .dropdown-menu .menu-wrapper .menu-ul li a {
  color: black;
}

header .dropdown-menu .menu-wrapper .menu-ul li a:hover {
  color: #209fe9;
}

header .dropdown-menu .menu-wrapper .menu-ul li .sub-menu {
  display: none;
  position: absolute;
  z-index: 99;
  width: calc(100% + 40px);
  font-size: 1.1rem;
  border: 1px solid #f0ebeb;
  border-top: none;
  top: 100%;
  padding: 0;
  -webkit-animation: showmenu;
  animation: showmenu;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes showmenu {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes showmenu {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

header .dropdown-menu .menu-wrapper .menu-ul li .sub-menu li {
  width: 100%;
  display: inline-table;
  height: 50px;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #f0ebeb;
}

/* slider */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;

}
.slideshow-container .slick-dots{
  position: absolute;
  display: flex !important;
  bottom: 8%;
  left: calc(50% - 40px);
}
.slideshow-container .slick-dots .slick-active > .dot{
  background-color: #1fb5d4 !important;
}
.mySlides {
  display: none;
}

.mySlides>img {

  vertical-align: middle;
  max-width: 100%;
  max-height: 85vh;

  background-size: cover;
  object-fit: fill;
  background-position: 50% 50%;


}

/* The dots/bullets/indicators */
.dots {
  position: absolute;
  bottom: 60px;
  z-index: 1;
  left: calc(50% - 40px);

}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.news {
  width: min(max(75vw, 880px), 100%);
  height: fit-content;
  transform: translateY(-50px);
  background-color: #fff;
}

.news-container {

  padding: 10px;
  width: 100%;

}

.news-container::after {
  content: "";
  clear: both;
  display: table;
}

.tab-news {
  float: left;
  padding: 10px;
  width: 33.33%;
  cursor: pointer;
  position: relative;
}

.tab-news::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  transition: 0.3s all ease-in-out;
}

.tab-news:hover::before {

  top: 11%;
  left: 12%;
  width: 75%;
  height: 75%;

}

.tab-news img {
  max-width: 100%;
  height: auto;
}

/* body */
.fluid_container {

  width: min(max(75vw, 880px), 100%);
}

.product {
  margin-top: 5px;

}

.news_product {
  padding: 50px 0;
}

.product_title {
  text-align: center;
}

.product_title h2 {
  color: #1fb5d4;
  font-size: 1.8rem;
}

.product_title h4 {
  color: #555454;
  font-weight: 500;
  margin-top: 10px;
}

.device_product {
  padding: 10px 10px;
}

/* product */
.device_product {
  width: 100%;
  display: flex;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-top: 30px;
  align-content: flex-start;

}

.mobile_info {
  width: 20%;
  margin: 0;
  border: 1px solid #ddd8d8;
  background-color: #fff;
  padding: 10px 10px 30px 10px;
  position: relative;

}

.mobile_info:hover::after {
  display: block;
  animation: zoom;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.mobile_info:hover::before {
  display: flex;
  animation: zoom;
  animation-duration: 0.2s;
}

.mobile_info::before {
  display: none;
  content: "Chi tiáº¿t";
  color: #fff;
  font-size: 0.95rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 35px);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #1fb5d4;
  z-index: 11;
}

.mobile_info::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.3);
}

@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  25% {
    transform: scale(0.25);
    opacity: 0.25;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  75% {
    transform: scale(0.75);
    opacity: 0.75;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mobile_info img {
  max-width: 100%;
  margin-bottom: 20px;
}

.mobile_info p {
  margin-left: 5%;
  text-align: center;
}

.mobile_name {
  color: #717171;
}

.mobile_paid {
  color: #ee0505;
  font-size: 0.95rem;
}

.mobile_paid s {
  color: #717171;
  font-size: 0.85rem;
  padding: 0 5px;
}

.sale {
  position: absolute;
  background-color: red;
  padding: 3px 10px;
  color: #fff;
  top: 15px;
}

.sale_off {

  padding: 10px;
  display: flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;


}

.side_left {
  margin: 0;
  display: inherit;
  flex-direction: column;
  padding-right: 10px;
  position: relative;

}

.side_right {

  padding-left: 10px;

}

.side_left a:nth-child(1) {
  position: absolute;
  top: 0;



}

.side_left a:nth-child(2) {
  position: absolute;
  bottom: 0;



}

.effect a {
  position: relative;
}

.effect>a span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 2;
  transition: 0.3s all ease-out;
}

.effect>a span:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 2;
  transition: 0.3s all ease-out;
}

.effect>a span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 2;
  transition: 0.3s all ease-out;
}

.effect>a span:nth-child(5) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 2;
  transition: 0.3s all ease-out;
}

.effect a:hover span:nth-child(2) {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0);
  transition: 0.5s all ease-out;

}

.effect a:hover span:nth-child(3) {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0);
  transition: 0.5s all ease-out;

}

.effect a:hover span:nth-child(4) {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0);
  transition: 0.5s all ease-out;

}

.effect a:hover span:nth-child(5) {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0);
  transition: 0.5s all ease-out;

}

.side_right,
.side_left {
  width: 50%;
}

.sale_off img {
  width: 100%;
}

.device_product_sale {
  width: 100%;
  display: flex;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  padding: 10px;
  margin-top: 30px;
  align-content: flex-start;
}

.mobile_sale {
  width: 33.33%;
  display: inherit;
  flex-direction: row;

  margin: 0;
  align-items: center;
  text-align: left;
  border: 1px solid #ddd8d8;
  background-color: #fff;
  padding: 20px 10px;
  position: relative;

}

.mobile_sale:hover::after {
  display: block;
  animation: zoom;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.mobile_sale:hover::before {
  display: flex;
  animation: zoom;
  animation-duration: 0.2s;
}

.mobile_sale::before {
  display: none;
  content: "Mua ngay";
  color: #fff;
  font-size: 0.95rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 30px);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #1fb5d4;
  z-index: 11;
}

.mobile_sale::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.3);
}

.mobile_sale .sale {
  top: 5px;
  left: 5px;
  width: 40px;
  font-size: 0.75rem;
  padding: 3px 5px;
  text-align: center;

}

.mobile_sale .right_info {
  text-align: left;
  margin: 0;
  margin-left: 20px;


}

.mobile_sale img {
  max-width: 25%;
  margin: 0;
}

.delivery {
  border-bottom: 1px solid #d3d0d0;
  border-top: 1px solid #d3d0d0;

}

.delivery_content {
  padding: 50px 0px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.delivery_content-tilte {
  margin: 0;
}

.delivery_content-img img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.delivery_content h5 {
  color: #209fe9;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: normal;
}

.delivery_content p {
  font-size: 14px;
  color: #717171;
}

/* Footer */
.footer__content2,
.footer__content3,
.footer__content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__content1 img:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

/* footer content2 */

.footer__content2 li a {
  transition: all 0.5s;
  display: inline-block;
}

.footer__content2 li a:hover {
  transform: scale(0.9);
  color: rgb(233, 185, 185);

}

/* footer content3 */
.footer__content3 i {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.footer__content3 i:hover {
  color: rgb(233, 185, 185);
  transform: scale(1.3);
}

.social li:nth-child(1) {
  color: #2a068d;

}

.social li:nth-child(2) {
  color: #1ec5e2;

}

.social li:nth-child(3) {
  color: #d60b81;

}

.social li:nth-child(4) {
  color: #f30707;

}

/* .copyright */
.copyright {
  border-top: 1px solid #b3b2b2;
  text-align: center;
  width: 100%;
  padding: 10px;
}

/* cart */

.body_cart {
  padding: 10px;
  background-color: #eeebeb;
}

.body_cart .cart_container {
  padding: 10px;
  text-align: center;
}

@media (max-width: 900px) {
  .body_cart .cart_container {
    padding: 0;
  }
}

.body_cart .cart_container .cart_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  text-align: left;
}

@media (max-width: 900px) {
  .body_cart .cart_container .cart_info {
    display: block;
    padding: 0;
  }
}

.body_cart .cart_container .cart_info .list_item {
  padding: 20px;
  width: 70%;
  text-align: center;
}

.body_cart .cart_container .cart_info .paid {
  padding: 10px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #d3d4d4;

}

@media (max-width: 900px) {
  .body_cart .cart_container .cart_info .paid {
    width: 100%;
    border: none;
  }
}

.body_cart .cart_container .cart_info .paid .paid_container {
  padding: 10px;
  line-height: 1.5;
}

.body_cart .cart_container .cart_info .paid .paid_container .item_info {
  text-align: center;
  font-size: 1.2rem;
  color: #1fb5d4;
}

.body_cart .cart_container .cart_info .paid .paid_container .money_paid {
  margin: 10px 0;
  color: #555454;
  font-size: 1.1rem;
  border-top: 1px solid #d3d4d4;
  border-bottom: 1px solid #d3d4d4;
  padding: 10px 0;
}

.body_cart .cart_container .cart_info .paid .paid_container .money_paid>span:last-child {
  float: right;
}

.body_cart .cart_container .cart_info .paid .paid_container .paid_done {
  margin: 15px 0;
}

.body_cart .cart_container .cart_info .paid .paid_container .paid_done span {
  color: #cfcdcd;
}

.body_cart .cart_container .cart_info .paid .paid_container .paid_done .paid_submit {
  text-align: center;
  margin-top: 20px;
}

.body_cart .cart_container .cart_info .paid .paid_container .paid_done .paid_submit button {
  padding: 10px 25px;
  width: 100%;
  background-color: #f32f2f;
  font-size: large;
  border: none;
  color: #fff;
}

.body_cart .cart_container .cart_info .paid .paid_container .paid_done .paid_submit p {
  margin-top: 10px;
}

.body_cart .cart_container .cart_info .paid .paid_container .paid_done .paid_submit p a {
  color: #1fb5d4;
}
.list {
    max-height: 50vh;
    overflow-y: scroll;
}

.item_paid {
    background-color: #fff;
    height: 200px;
    border-top: 1px solid #bbb;
}


.item_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item_img > img {
        max-width: 100%;
        height: inherit;
}